<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/share/fragments :: html_head" />
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">
		<div th:replace="admin/share/fragments :: header"></div>
		<div th:replace="admin/share/fragments :: menu"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Usuarios</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Configuración</a></li>
								<li class="breadcrumb-item active">Usuarios</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->



			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<a  th:href="@{/UsuariosAdd}" class="btn btn-default">
										<i class="fas fa-plus mr-2"></i>

									</a>
								</div>
								<!-- /.card-header -->
								<div class="card-body">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th th:text="Item"></th>
												<th th:text="Usuario"></th>
												<th th:text="Contraseña"></th>
												<th th:text="Acciones"></th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="usuario:${usuarios}">
												<td th:text="${usuario.id}"></td>
												<td th:text="${usuario.usuario}"></td>
												<td th:text="${usuario.password}"></td>

												<td>
													<a th:href="${/UsuarioEdit/}+${usuario.id}" class="btn btn-warning">
														<i class="fas fa-edit"></i>
													</a>

													<button type="button" class="btn btn-danger"
														data-toggle="modal" data-target="#modal-default">
														<i class="far fa-times-circle"></i>
													</button>

												</td>
											</tr>

										</tbody>

									</table>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->

		</div>

<!-- 		modal para agregar usuarios -->
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Default Modal</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>One fine body&hellip;</p>
						<form th:action="@{/save}">
							<label th:text="Usuario"></label>
							<input type="text" id="addUsuario" name="addUsuario" placeholder="Registra el nombre usuario">
							<label th:text="Contraseña"></label>
							<input type="text" id="addUsuario" name="addUsuario" placeholder="Registra el nombre usuario">
							
						</form>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
		
		
		<div th:replace="admin/share/fragments :: foot"></div>
	</div>
	<span th:text="${name}"></span>
	<div th:replace="admin/share/fragments :: script"></div>
</body>
</html>