<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/share/fragments :: html_head" />
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">
		<div th:replace="admin/share/fragments :: header"></div>
		<div th:replace="admin/share/fragments :: menu"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0">Usuarios</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Configuración</a></li>
								<li class="breadcrumb-item active">Agregar Usuarios</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->



			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<form th:action="@{/saveUsuario}" th:object=${UsuarioDTO}
								method="post">
								<div class="card">
									<div class="card-header">
										<h3>Agregar Nuevo Usuario</h3>

									</div>

									<div class="card-body">
										<div class="form-group">
											<label th:text="Usuario"></label> 
											<input th:field="${usuario.usuario}" type="text" class="form-control" placeholder="Registra el nombre usuario">
											 <label th:text="Contraseña"></label> 
											 <input type="password" th:field="${usuario.password}" class="form-control" placeholder="Registra el nombre usuario">
										</div>
									</div>

									<div class="card-footer">
										<input type="submit" value="Guardar" class="btn btn-success">
									</div>

								</div>
							</form>

							<!-- /.card -->
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->

		</div>

		<!-- 		modal para agregar usuarios -->
		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Default Modal</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>One fine body&hellip;</p>
						<form th:action="@{/save}">
							<label th:text="Usuario"></label> <input type="text"
								id="addUsuario" name="addUsuario"
								placeholder="Registra el nombre usuario"> <label
								th:text="Contraseña"></label> <input type="text" id="addUsuario"
								name="addUsuario" placeholder="Registra el nombre usuario">

						</form>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save
							changes</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->



		<div th:replace="admin/share/fragments :: foot"></div>
	</div>
	<span th:text="${name}"></span>
	<div th:replace="admin/share/fragments :: script"></div>
</body>
</html>