<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/share/fragments :: html_head" />
<body class="hold-transition sidebar-mini layout-fixed">

	<div class="wrapper">
		<div th:replace="admin/share/fragments :: header"></div>
		<div th:replace="admin/share/fragments :: menu"></div>
		
		 <div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		    <div class="content-header">
		      <div class="container-fluid">
		        <div class="row mb-2">
		          <div class="col-sm-6">
		            <h1 class="m-0">Roles</h1>
		          </div><!-- /.col -->
		          <div class="col-sm-6">
		            <ol class="breadcrumb float-sm-right">
		              <li class="breadcrumb-item"><a href="#">Configuración</a></li>
		              <li class="breadcrumb-item active">Roles</li>
		            </ol>
		          </div><!-- /.col -->
		        </div><!-- /.row -->
		      </div><!-- /.container-fluid -->
		    </div>
		    <!-- /.content-header -->
		
		   
		    
		     <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
               <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                   <i class="fas fa-plus mr-2"></i> 
          
                </button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                  	<th>Item</th>
                    <th>Rol</th>
                    <th>Descaripcion</th>
                    <th>Acciones</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Trident</td>
                    <td>Internet
                      Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                   
                    <td> 
                    	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default">
                   		<i class="fas fa-edit"></i>  </button>
                   		
                   		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-default">
                   		<i class="far fa-times-circle"></i>  </button>
                   
                   </td>
                  </tr>
                 
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
		</div>
	</div>
	</div>
           
    </section>
    <!-- /.content -->
		    
		 
		              
		          
  		</div>
		
		   <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->
		<div th:replace="admin/share/fragments :: foot"></div>
	</div>
<span th:text="${name}"></span>
<div th:replace="admin/share/fragments :: script"></div>
</body>
</html>