<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>
    <style th:replace="/demo/share/style"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<div th:replace="/demo/share/header"></div>
	</div>
    <!-- <p th:text="'Hello, ' + ${name} + '!'" />  -->
    <h1>Prueba</h1>
</body>
</html>